<a href="https://colab.research.google.com/github/TanLinh15/LTPythonNC/blob/main/Lab02/Lab02_chapter09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bai 1

In [ ]:
celegans_phenotypes = ['Emb','Him', 'Unc', 'Lon', 'Dpy', 'Sma']
for phenotype in celegans_phenotypes:
 print(phenotype)

Emb
Him
Unc
Lon
Dpy
Sma

Bai 2:

In [ ]:
half_lives = [87.74, 24110.0,6537.0, 14.4, 376000.0]
for value in half_lives:
 print(value, end=' ')

87.74 24110.0 6537.0 14.4 376000.0

Bai 3

In [ ]:
whales = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
more_whales = []
for count in whales:
 more_whales.append(count + 1)
print(more_whales)

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

Bai 4

In [ ]:
#a.
alkaline_earth_metals = [[4, 9.012], [12, 24.305],[20, 40.078], [38, 87.62],[56, 137.327], [88, 226]]
#b.
for inner_list in alkaline_earth_metals:
 print("inner_list[0]",inner_list[0])
 print("inner_list[1]",inner_list[1])
#c.
number_and_weight = []
for inner_list in alkaline_earth_metals:
 number_and_weight.append(inner_list[0])
 number_and_weight.append(inner_list[1])
 print(number_and_weight[0])
 print(number_and_weight[1])

inner_list[0] 4
inner_list[1] 9.012
inner_list[0] 12
inner_list[1] 24.305
inner_list[0] 20
inner_list[1] 40.078
inner_list[0] 38
inner_list[1] 87.62
inner_list[0] 56
inner_list[1] 137.327
inner_list[0] 88
inner_list[1] 226
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012

Bai 5

Bai 6

In [ ]:
text = ""
while text.lower() != "quit":
 text = input("Please enter 'QUIT' or 'quit' to exit: ")
 if text == "quit":
  print("…exiting program")
 elif text =="QUIT":
   print("…exiting program")
 else:
  print("Unknown compound")

Please enter 'QUIT' or 'quit' to exit: quit
…exiting program

Bai 7

In [ ]:
country_populations = [1295, 23, 7, 3, 47, 21]
total = 0
for population in country_populations:
 total += population
print(total)

1396

Bai 8

In [3]:
rat_1=[2,3,1,5,7,8,7]
rat_2=[3,4,2,6,9,999,88]
#a.
if rat_1[0] > rat_2[0]:
 print("Rat 1 weighed more than rat 2 on day 1.")
else:
 print("Rat 1 weighed less than rat 2 on day 1.")
#b.
if rat_1[0] > rat_2[0] and rat_1[-1] > rat_2[-1]:
 print("Rat 1 remained heavier than Rat 2.")
else:
 print("Rat 2 became heavier than Rat 1.")
#c.
if rat_1[0] > rat_2[0]:
 if rat_1[-1] > rat_2[-1]:
  print("Rat 1 remained heavier than Rat 2.")
 else:
  print("Rat 2 became heavier than Rat 1.")
else:
  print("Rat 2 became heavier than Rat 1.")

Rat 1 weighed less than rat 2 on day 1.
Rat 2 became heavier than Rat 1.
Rat 2 became heavier than Rat 1.

Bai 9

In [ ]:
for number in range(33, 50):
 print(number)

33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

Bai 10

In [ ]:
for number in range(10):
 print(10 - number, end=' ')

10 9 8 7 6 5 4 3 2 1

Bai 11

In [ ]:
sum = 0
count = 0
for number in range(2,23):
 sum += number
 count += 1
average = sum / count
print(average)

12.0

Bai 12

In [ ]:
def remove_neg(num_list):
 index = 0
 while index < len(num_list):
  if num_list[index] < 0:
    del num_list[index]
  else:
    index += 1

Bai 13

In [ ]:
for width in range(1, 8):
 print('T' * width)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

Bai 14

In [ ]:
for width in range(1, 8):
 print(' ' * (7 - width), 'T' * width, sep='')

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

Bai 15

In [ ]:
width = 1
while width < 8:
 print('T' * width)
 width += 1
width = 1
while width < 8:
 print(' ' * (7 - width), 'T' * width, sep='')
 width += 1

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

Bai 16

In [ ]:
#a.
week = 1
while rat_1_weight[week] / rat_1_weight[0] - 1 < .25:
  week += 1

print(week)
#b.
week = 0
while rat_1_weight[week] / rat_2_weight[week] - 1 < .10:
 week += 1
 
print(week)